@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Playfair+Display:wght@700;900&family=Plus+Jakarta+Sans:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


/* fonts 
  font-family: 'Inter', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Poppins', sans-serif; */

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  overflow: hidden;
}

.button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.header {
  font-family: 'Poppins', sans-serif;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header__logo-link {
  display: flex;
  align-items: center;
  color: #2D2F30;
  font-size: 20px;
  font-weight: 700;
  line-height: 115%;
  /* 23/20 */
  letter-spacing: 1.5px;
  padding: 32px 0;
}

.header__logo {
  width: 36px;
  height: 36px;
  margin-right: 15px;
}

.header__right {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 56px;
  padding: 12px;
  margin-right: 130px;
}

.nav__link {
  color: #2D2F30;
  font-size: 12px;
  font-weight: 400;
  line-height: 191.666667%;
  /* 23/12 */
  letter-spacing: 1.5px;
}

.header__button-search {
  width: 24px;
  height: 24px;
}













.hero {
  padding: 96px 0 46px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.hero__container {
  position: relative;
}

.hero__content {
  width: 745px;
}

.hero__recent-jobs {
  width: 434px;
  border-radius: 26.5px;
  background: #E7F6FF;
  color: #193E6C;
  font-size: 14px;
  font-weight: 400;
  line-height: 257.142857%;
  /* 36/14 */
  margin-bottom: 18px;
}

.hero__recent-new {
  display: inline-block;
  padding: 8px 27px;
  margin: 6px 10px 6px 6px;
  border-radius: 26.5px;
  background: #094B72;
  color: #FFF;
  text-align: center;
  font-family: inherit;
  line-height: 142.857143%;
  /* 20/14 */
  /* line-height: 714.285714%; 100/14 */
}

.hero__title {
  color: #094B72;
  font-family: 'Playfair Display', serif;
  font-size: 90px;
  font-weight: 700;
  line-height: 120%;
  /* 108px */
  letter-spacing: 1.8px;
  margin-bottom: 46px;
}

.hero__text {
  width: 590px;
  color: #4F4F4F;
  font-size: 24px;
  font-weight: 500;
  line-height: 158%;
  /* 37.92px */
  letter-spacing: 0.5px;
  margin-bottom: 42px;
}

.hero__button {
  border-radius: 8px;
  background: #094B72;
  color: #F9F8F9;
  font-size: 16px;
  font-weight: 700;
  line-height: 140.5%;
  text-transform: uppercase;
  /* 22.48px */
  letter-spacing: 1.28px;
  padding: 29px 36px;
  margin-bottom: 115px;
}

.companies-text {
  color: #8B8C8C;
  font-size: 22px;
  font-weight: 400;
  line-height: 140.5%;
  /* 30.91px */
  letter-spacing: 0.88px;
  margin-bottom: 34px;
}

.companies {
  display: grid;
  grid-template-columns: repeat(2, 122px);
  gap: 32px 34px;
  align-items: start;
}

.hero__image {
  /* max-width: 810px; */
  position: absolute;
  top: -144px;
  left: 535px;

  /* height: 920px; */
}

.hero__image-main {
  position: relative;
}

.hero__image-descr {
  position: absolute;
  bottom: -25px;
  left: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 382px;
  border-radius: 10px;
  text-align: center;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 124px;
}

.agent-name {
  color: #33475B;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  /* 36/24 */
  /* padding-top: 20px; */
  padding-bottom: 2px;
}

.agent-descr {
  color: #87898C;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 225%;
  /* 36/16 */
  /* padding-bottom: 20px; */
}




.about {
  background: #F2F7FF;
}

.about__container {
  display: flex;
  align-items: center;
  column-gap: 55px;
  padding: 126px 15px;
}

.about__question {
  width: 420px;
}

.about__question-title {
  color: #2D2F30;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 133.333333%;
  /* 64/48 */
  letter-spacing: 0.323px;
  margin-bottom: 40px;
}

.about__question-text {
  color: #8B8C8C;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  /* 36/20 */
  letter-spacing: 0.5px;
}


.about__services {
  display: grid;
  grid: repeat(2, 255px) / repeat(2, 255px);
  gap: 30px;
}

.about__services-card {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  background: #FCFCFC;
  box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
}

.about__services-title {
  color: #363940;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  /* 22/22 */
  letter-spacing: 0.5px;
  padding-top: 18px;
  margin-bottom: 10px;
}

.about__services-text {
  color: #8B8C8C;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 171.428571%;
  /* 24/14 */
  letter-spacing: 0.3px;
}

.achievements {
  background-image: url(../images/achievements-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.achivements__container {
  padding: 55px 0;
}

.achievements__title {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 133.333333%;
  /* 64/48 */
  letter-spacing: 0.24px;
  margin-bottom: 8px;
}

.achievements__text {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 177.777778%;
  /* 32/18 */
  letter-spacing: 0.5px;
  margin-bottom: 48px;
}

.achievements__numbers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.achievements__numbers-item {
  width: 255px;
}

.achievements__numbers-title {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  line-height: 133.333333%;
  /* 64/48 */
  letter-spacing: 0.24px;
  margin-bottom: 8px;
}

.achievements__numbers-text {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 177.777778%;
  /* 32/18 */
  letter-spacing: 0.054px;
}

.achievements__numbers-list--decor {
  position: relative;
}

.achievements__numbers-list--decor::before,
.achievements__numbers-list--decor::after {
  content: '';
  position: absolute;
  left: -15px;
  bottom: 0px;
  opacity: 0.4000000059604645;
  background: #FFF;
  width: 1px;
  height: 96px;
}

.achievements__numbers-list--decor::after {
  left: auto;
  right: -15px;
}

.testimonial {
  background: #F2F7FF;
}

.testimonial__container {
  padding: 60px 0 90px;
}

.testimonial__title {
  color: #2D2F30;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 133.333333%;
  /* 64/48 */
  letter-spacing: 0.5px;
  margin-bottom: 50px;
}

.testimonial__cards {
  position: relative;
  box-sizing: border-box;

  /* display: grid;
  grid-template-columns: repeat(2, 540px);
  column-gap: 30px; */
}

.testimonial__card {

  position: relative;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}

.testimonial__bubble {
  position: relative;
  min-height: 220px;
  width: 40%;
  min-width: 540px;
  background: #fff;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 32px 32px 0 32px;
  margin-bottom: 28px;
}

.bubble-pointer {
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 0 0 0 8px;
  background-color: inherit;
  position: absolute;
  bottom: -12px;
  left: calc(50% - 12px);
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  transform: rotate(-45deg);
}

/* .testimonial__card::after {
  content: url(../images/Card.svg);
  position: absolute;
  top: -10px;
  left: -20px;
  z-index: -1;
} */

.tesimonial__card-title {
  color: #151617;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 155.555556%;
  /* 28/18 */
}

.testimonial__card-text {
  color: #4F4F4F;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 171.428571%;
  /* 24/14 */
  letter-spacing: 0.5px;
}

.testimonial__author {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.author-credits {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'salt' on, 'liga' off;
}

.author-name {
  color: #151617;
  font-size: 18px;
  font-weight: 700;
  line-height: 155.555556%;
  /* 28/18 */
}

.author-position {
  color: #2D2F30;
  font-size: 14px;
  font-weight: 400;
  line-height: 171.428571%; /* 24/14 */
}

.consult {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  padding-top: 40px;
}
.consult__container {
  position: relative;
}


.consult__image {
  border-radius: 0px 0px 0px 40px;
  position: absolute;
  top: 0;
  right: -72px;
}

.consult__title {
  color: #2D2F30;
  font-feature-settings: 'salt' on, 'liga' off;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 133.333333%; /* 64/48 */
  margin-bottom: 15px;
}

.consult__text {
  width: 821px;
  color: #4F4F4F;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%; /* 36/24 */
  margin-bottom: 28px;
}

.consult__button {
  display: inline-block;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  background: #094B72;  
  color: #F9F8F9;
  font-size: 22px;
  font-weight: 600;
  line-height: 163.636364%; /* 36/22 */
  letter-spacing: 0.5px;
  padding: 14px 36px 14px 83px;
  margin-bottom: 40px;
}

.consult__button::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 37px;
  background-image: url(../images/Call.svg);
  width: 29px;
  height: 32px;
}






.footer__top {
  background: #094B72;
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'salt' on, 'liga' off;
  padding: 73px 0 92px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__logo-link {
  display: flex;
  align-items: center;
  color: #F9F8F9;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-feature-settings: normal;
  font-weight: 700;
  line-height: 104.545455%;
  /* 23/22 */
  letter-spacing: 1.5px;
}

.footer__logo-image {
  margin-right: 10px;
}

.footer__menu {
  display: flex;
  gap: 30px;
}

.footer__menu-col {
  width: 160px;
}

.footer__menu-title {
  color: #F4F5F7;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%; /* 30/20 */
  margin-bottom: 32px;
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 12px;
}

.footer__menu-link {
  color: #EEEFF4;
  font-size: 16px;
  font-weight: 400;
  line-height: 162.5%;
  /* 26/16 */
}

.footer__bottom {
  background: #004D7B;
  padding: 23px 0;
}

.copyright {
  color: #D9DBE1;
  font-feature-settings: 'salt' on, 'liga' off;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 171.428571%; /* 24/14 */
}

.footer__social {
  display: flex;
  gap: 16px;
}